{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "dot-notation": ["off"],
    "no-new": ["off"],
    "no-param-reassign": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "import/no-extraneous-dependencies": ["off"],
    "import/no-webpack-loader-syntax": ["off"],
    "import/no-unresolved": ["off"],
    "linebreak-style": ["off"]
  }
}
