$mainColor1: #E0FFB3;
$mainColor2: #61C791;
$mainColor3: #31797D;
$mainColor4: #2A2F36;
$mainColor5: #F23C55;

body {
  padding: 0;
  margin: 0;
}

#three-quarium {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $mainColor4;
  overflow: hidden;

  font-family: Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  .canvas {
    position: absolute;
  }

  @mixin bottom-relief($color) {
    border-bottom: 2px solid darken($color, 25);
  }

  .ui-component {
    padding: 8px;
    border-radius: 8px;
    margin-top: 4px;
    text-align: center;
    transition: all ease 175ms;
    color: $mainColor1;
  }

  .ui-component:first-child {
    margin-top: 0;
  }

  .ui-group {
    @extend .ui-component;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    background-color: $mainColor3;
    @include bottom-relief($mainColor3);
    border-radius: 12px;
  }

  .ui-button {
    @extend .ui-component;
    background-color: $mainColor2;
    @include bottom-relief($mainColor2);

    &:hover {
      background-color: lighten($mainColor2, 25);
      color: darken($mainColor2, 25);
      cursor: pointer;
    }
  }
}
