$mainColor1: #e0ffb3;
$mainColor2: #61c791;
$mainColor3: #31797d;
$mainColor4: #2a2f36;
$mainColor5: #f23c55;

body {
  padding: 0;
  margin: 0;
}

@mixin bottom-relief($color) {
  border-bottom: 2px solid darken($color, 25);
}

#three-quarium {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $mainColor4;
  overflow: hidden;
  font-family: Calibri, Arial, sans-serif;
}
